<!DOCTYPE html>
<html>
  <head>
    <title>Sharedairy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--上記はBootStrap使用のための記述-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <main class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 mx-auto">
          <!--ヘッダーの部分テンプレート-->
          <%= render 'layouts/header' %>
          <!--フラッシュメッセージの表示-->
          <p class="notice"><%= notice %></p>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
